body {
    font-family: sans-serif;
}

canvas {
    border: solid 2px;
}

.title {
    display: flex;
    justify-content: center;
}
.title h1 {
    font-size: xxx-large;
    text-align: center;
    margin: 0.5em;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.classic-mode {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.info-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
